main {
    /* min-height: calc(100vh - 110px - 434px); */
}

main .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 30px;
}

main .container .hotel-image {
    width: 100%;
}

/* .hotel-image-container {
    display: flex;
    align-items:center;
    justify-content: center;
} */

.hotel-image-container img{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.ghost-button {
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    background-color: #183456;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    color: white;
    cursor: pointer;
    font-family: "Poppins";
    letter-spacing: 0.5px;
}

.ghost-button:hover {
    border: 2px solid #183456;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.ghost-button:disabled {
    cursor: default;
    background-color: gray;
}

.ghost-button:disabled:hover {
    border: 2px solid gray;
    background-color: gray;
    color: white;
    transition-duration: 0s;
}

/* Center the button that controls the reviews */
.buttons-container {
    width: 400px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}
